{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    <a href='{% url "mail:new_mailing" %}' class="btn btn-primary my-2">Создать рассылку</a>
</div>
<hr>

{% for object in object_list %}
<div class="col-6 md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p><a href='{% url "mail:mail" object.pk %}' class="fw-bold text-decoration-none link-dark">
                {{ object.name }}
                {% if object.status == 'started' %}
                <span class="badge bg-warning"> {{object.status }}</span>
                {% elif object.status == 'created' %}
                <span class="badge bg-secondary"> {{object.status }}</span>
                {% else %}
                <span class="badge bg-danger"> {{object.status }}</span>
                {% endif %}
            </a></p>
            <p class="card-text">{{ object.message.header }}</p>
            <p class="text-muted">{{ object.message.body |slice:":65" }}...</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if object.status == 'started' %}
                    <a href="{% url 'mail:stop_mail' object.pk %}" type="button" class="btn btn-sm btn-danger">
                        Завершить</a>
                    {% else %}
                    <a href="{% url 'mail:start_mailing' object.pk %}" type="button" class="btn btn-sm btn-primary">
                        Запустить</a>
                    {% endif %}
                </div>
                <div class="btn-group">
                    <a href="{% url 'mail:edit_mail' object.pk %}" type="button" class="btn btn-sm btn-outline-primary">
                        Редактировать</a>
                    <a href="{% url 'mail:delete_mail' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-danger">
                        Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}