{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="card col-6">
                <div class="card-body">
                    <p class="lead">Пожалуйста, загрузите файл формата .csv или .xlsx</p>
                    <p><strong>Важно!</strong>
                        В таблице должны присутствовать столбцы с названиями "ФИО", "почта" и "комментарий".</p>
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="p-2 btn btn-outline-primary">
                        Загрузить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}